@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<div class="flex justify-between items-center">
    <h3>
        Authors
    </h3>
    <button type="button"
            title="Add a new author"
            class="px-2 py-1 w-32 rounded-xl font-medium shadow-md focus:outline-none focus:ring text-on-primary shadow-primary bg-primary hover:bg-primary-light active:bg-primary-dark focus:ring-primary-lighter"
            @onclick="AddAuthor">
        <i class="fas fa-plus"></i>
    </button>
</div>

<div class="overflow-x-auto shadow-lg">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>
                    Author ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Boardgames
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Author author in AuthorList)
            {
                <AuthorsTableRow @key="author.UiId" Author="author" />
            }
        </tbody>
    </table>
</div>