@using BoardgameShowcase.Model.Entity

<TableBodyRow>
    <TableBodyCell CustomCssClass="whitespace-nowrap">
        <LinkWidget HRef="@AuthorEdit.GetRoute(Author.Id)">
            @Author.Id
        </LinkWidget>
    </TableBodyCell>
    <TableBodyCell CustomCssClass="whitespace-nowrap">
        @Author.Name
    </TableBodyCell>
    <TableBodyCell CustomCssClass="whitespace-nowrap">
        <ul>
            @foreach (Boardgame boardgame in BoardgameList)
            {
                <li>@boardgame.Title</li>
            }
            @if (BoardgameCount > MAX_BOARDGAME_COUNT)
            {
                <li>...</li>
            }
        </ul>
    </TableBodyCell>
</TableBodyRow>