@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<div class="flex justify-between items-center">
    <Heading3>
        Authors
    </Heading3>
    <ButtonPrimaryWidget Title="Add a new author" OnClick="AddAuthor">
        <i class="fas fa-plus"></i>
    </ButtonPrimaryWidget>
</div>

<ResponsiveContainer>
    <TableWidget>
        <TableHeader>
            <TableHeaderRow>
                <TableHeaderCell>
                    Author ID
                </TableHeaderCell>
                <TableHeaderCell>
                    Name
                </TableHeaderCell>
                <TableHeaderCell>
                    Boardgames
                </TableHeaderCell>
            </TableHeaderRow>
        </TableHeader>
        <TableBody>
            @foreach (Author author in AuthorList)
            {
                <AuthorsTableRow @key="author.UiId" Author="author" />
            }
        </TableBody>
    </TableWidget>
</ResponsiveContainer>