@attribute [Route(ROUTE)]

<h3>Author Edit</h3>

@if (Author is null)
{
    <div>
        Loading ...
    </div>
}
else
{
    <FormWidget>
        <FormTextField FieldLabel="Id"
                       Value="@Author.Id"
                       FieldPlaceholder="New author"
                       IsReadonly="true" />
        <FormTextField @ref="AuthorNameField"
                       FieldLabel="Name"
                       @bind-Value="Author.Name"
                       FieldPlaceholder="Enter author name"
                       InvalidityHint="Please provide a name for the author."
                       IsRequired="true"
                       SelectOnFocus="false" />
        <ErrorMessageWidget ErrorMessage="@ErrorMessage" />
        <hr class="border-on-surface/25 m-2" />
        <div class="p-1 mb-1 flex justify-end space-x-2">
            <ButtonPrimaryWidget OnClick="Validate">
                OK
            </ButtonPrimaryWidget>
            <ButtonErrorWidget OnClick="ReturnToAuthorList">
                Cancel
            </ButtonErrorWidget>
        </div>
    </FormWidget>
}