@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<h3>Authors</h3>

<div class="overflow-x-auto shadow-lg">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>
                    Author ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Boardgames
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Author author in AuthorList)
            {
                <AuthorsTableRow @key="author.UiId" Author="author" />
            }
        </tbody>
    </table>
</div>