@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<div class="flex justify-between items-center">
    <Heading3>
        Authors
    </Heading3>
    <ButtonPrimaryWidget Title="Add a new author" OnClick="AddAuthor">
        <i class="fas fa-plus"></i>
    </ButtonPrimaryWidget>
</div>

<div class="overflow-x-auto shadow-lg">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>
                    Author ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Boardgames
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Author author in AuthorList)
            {
                <AuthorsTableRow @key="author.UiId" Author="author" />
            }
        </tbody>
    </table>
</div>