@using BoardgameShowcase.Model.Entity

<tr>
    <td class="whitespace-nowrap">
        <a>
            @Author.Id
        </a>
    </td>
    <td class="whitespace-nowrap">
        @Author.Name
    </td>
    <td class="whitespace-nowrap">
        <ul>
            @foreach (Boardgame boardgame in BoardgameList)
            {
                <li>@boardgame.Title</li>
            }
            @if (BoardgameCount > MAX_BOARDGAME_COUNT)
            {
                <li>...</li>
            }
        </ul>
    </td>
</tr>