@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<h3>Boardgames</h3>

<div class="overflow-x-auto shadow-lg">
    <table class="table-auto w-full border border-slate-300">
        <thead class="bg-slate-600 text-slate-100">
            <tr class="divide-x divide-slate-300">
                <th class="p-1">
                    Boardgame ID
                </th>
                <th class="p-1">
                    Title
                </th>
                <th class="p-1">
                    Author
                </th>
                <th class="p-1">
                    Illustrator
                </th>
                <th class="p-1">
                    Publisher
                </th>
            </tr>
        </thead>
        <tbody class="bg-slate-50 text-slate-700 divide-y divide-slate-300">
            @foreach (Boardgame boardgame in BoardgameList)
            {
                <BoardgamesTableRow @key="boardgame.UiId" Boardgame="boardgame" />
            }
        </tbody>
    </table>
</div>