@using BoardgameShowcase.Model.Entity

<tr>
    <td class="whitespace-nowrap">
        <a>
            @Boardgame.Id
        </a>
    </td>
    <td class="whitespace-nowrap">
        @Boardgame.Title
    </td>
    <td class="whitespace-nowrap">
        @Author?.Name
    </td>
    <td class="whitespace-nowrap">
        @Illustrator?.Name
    </td>
    <td class="whitespace-nowrap">
        @Publisher?.Name
    </td>
</tr>