@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<h3>Illustrators</h3>

<div class="overflow-x-auto shadow-lg">
    <table class="table-auto w-full border border-slate-300">
        <thead class="bg-slate-600 text-slate-100">
            <tr class="divide-x divide-slate-300">
                <th class="p-1">
                    Illustrator ID
                </th>
                <th class="p-1">
                    Name
                </th>
                <th class="p-1">
                    Boardgames
                </th>
            </tr>
        </thead>
        <tbody class="bg-slate-50 text-slate-700 divide-y divide-slate-300">
            @foreach (Illustrator illustrator in IllustratorList)
            {
                <IllustratorsTableRow @key="illustrator.UiId" Illustrator="illustrator" />
            }
        </tbody>
    </table>
</div>