@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<h3>Illustrators</h3>

<div class="overflow-x-auto shadow-lg">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>
                    Illustrator ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Boardgames
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Illustrator illustrator in IllustratorList)
            {
                <IllustratorsTableRow @key="illustrator.UiId" Illustrator="illustrator" />
            }
        </tbody>
    </table>
</div>