@attribute [Route(ROUTE)]

@using BoardgameShowcase.Model.Entity

<Heading3>
    Publishers
</Heading3>

<div class="overflow-x-auto shadow-lg">
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th>
                    Publisher ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Boardgames
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Publisher publisher in PublisherList)
            {
                <PublishersTableRow @key="publisher.UiId" Publisher="publisher" />
            }
        </tbody>
    </table>
</div>