<label class="p-1 flex flex-wrap items-center">
    <input type="text"
           @ref="InputField"
           required="@IsRequired"
           readonly="@IsReadonly"
           placeholder="@FieldPlaceholder"
           class="order-2 basis-full sm:basis-2/3 md:basis-3/4 lg:basis-4/5 peer
                  px-2 py-1 rounded-md
                  border border-r-4
                  focus-visible:outline-none focus:ring-1 focus:ring-primary-lighter invalid:focus:ring-error-lighter
                  placeholder:italic
                  invalid:placeholder:text-error
                  bg-transparent invalid:bg-error/5 hover:bg-background/50 invalid:hover:bg-error/10 focus:bg-background invalid:focus:bg-error/20
                  border-transparent invalid:border-error/50 hover:border-primary/75 invalid:hover:border-error/75 focus:border-primary invalid:focus:border-error"
           value="@FieldValue"
           onfocus="this.select()"
           @onchange="InputValueChanged"/>
    <span class="order-1 self-center basis-full sm:basis-1/3 md:basis-1/4 lg:basis-1/5 p-1 peer-invalid:text-error peer-required:after:content-['_*']">
        @FieldLabel
    </span>
    <span class="order-3 basis-full mt-2 hidden peer-invalid:block text-error text-sm sm:pl-[33.34%] md:pl-[25%] lg:pl-[20%]">
        @InvalidityHint
    </span>
</label>