<div class="px-4">
    <NavLink class="rounded transition p-2 flex content-center hover:bg-white/10" href="@HRef" Match="@LinkMatch" ActiveClass="bg-white/25">
        <div class="pr-2 shrink-0">
            <i class="@FAIconClass fa-fw"></i>
        </div>
        <div class="flex-auto">@Label</div>
    </NavLink>
</div>