@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="p-2 m-2 basis-full text-center font-medium border rounded text-on-error bg-error/50 border-error-dark/50">
        @ErrorMessage
    </div>
}