@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="p-2 mx-6 my-2 text-center font-medium border rounded text-on-error bg-error/50 border-error-dark/50">
        @ErrorMessage
    </div>
}